.nav-dropdown_wrapper {
    .nav-dropdown {
        li {
            width: 100%;
            position: relative;
            font-size: 0.8rem;
            font-weight: 200;
            line-height: 2;
            flex: 0 0 auto;
        }
        li:hover {
            background-color: #eaeef1;
        }
        padding: 5px 0 5px 0;
        position: absolute;
        display: flex;
        flex-direction: column;
        list-style-type: none;
        top: 45px;
        left: -5px;
        box-sizing: content-box;
        overflow: auto;
        border: 1px solid rgb(204, 204, 204);
        border-radius: 5px;
        background-color: #fff;
        a {
            font-weight: lighter;
            margin: 0 40px 0 20px;
            color: #212529;
        }
    }
    display: flex;
    flex-direction: column;
}
