li {
    z-index: auto;
    align-items: center;
    align-content: center;
    text-align: -webkit-match-parent;
}

.nav-item {
    border-width: 0;
    outline: 0;
    user-select: none;
    padding: 20px 15px 20px 0;
    color: inherit;
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
    align-items: center;
    position: relative;
    white-space: nowrap;
    cursor: pointer;
    a {
        font-weight: 600;
    }
}
