.button {
  margin-bottom: 10px;
  a {
    border: 2px solid #fff;
    border-radius: 5px;
    padding: 8px 16px;
    transition: linear 0.1s;
    border-color: #805be7;
    background-color: rgba(128, 91, 231, 1);
  }
}
