@import '../../styles/mixin.scss';
@import '../../styles/theme.scss';

.sign-in{
  @include flex(row, center, center);
  @include width-height--full-vh;
  &__left{
    flex: 50%;
    padding: 10%;
    &--container{
      .register{
        h3{
          span:hover{
            @include underline-pointer;
          }
        }
      }
    }
  }
  &__right{
    flex: 50%;
    img{
      @include width-height--full-100;
    }
  }
}
@media screen and (max-width: 600px) {
  .sign-in{
    &__left{
      flex: 100%;
    }
    &__right{
      display: none;
    }
  }
}