.movie-content {
    padding: 5px 0 0 0;
    .movie-title {
        a {
            font-size: 1.1em;
            color: #000;
            font-weight: 600;
        }
        padding-bottom: 5px;
    }

    p {
        font-size: 0.9em;
        margin: 0;
        padding: 0;
        color: rgba(0, 0, 0, 0.6);
    }
}
